@model Portfolio.Models.Contact

<div class="SuccessContainer">
    <h3>Success</h3>
    <img src="~/Images/Contact/checkmark.svg" />
    <p>Thank you for your message @Model.Name. Your message has successfully been sent.</p>
    <a asp-action="Index" asp-controller="Home">Click here to return to the home page</a>
</div>
