
@{
    ViewData["Title"] = "Me";
}

<div class="Container White">
    <div class="AboutMe Panel">
        <h3>About Me</h3>
        <div class="InterestsContainer CenterBlock">

            <div class="InterestIconContainer">
                <img class="Interest" src="~/Images/AboutMe/BikeIcon.png" alt="Motorcycle" />
                <img class="Interest" src="~/Images/AboutMe/RugbyIcon.png" alt="Rugby" />
            </div>

            <div class="MeContainer">
                <img class="Me" src="~/Images/AboutMe/Me.jpg" alt="Me" />
            </div>

            <div class="InterestIconContainer">
                <img class="Interest" src="~/Images/AboutMe/GymIcon.png" alt="Gym" />
                <img class="Interest" src="~/Images/AboutMe/CodingIcon.png" alt="Coding" />
            </div>
        </div>

        <div class="DescriptionContainer CenterBlock">
            <p>
                <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b> In lobortis sodales velit id commodo. Quisque in accumsan enim. In condimentum laoreet dolor ut pellentesque. In eleifend risus sit amet nisl pulvinar, vitae elementum ligula eleifend. Nam imperdiet magna id purus ultrices lobortis. Donec varius metus magna, eu aliquet mi suscipit in. Ut a laoreet justo, sed scelerisque dui.
            </p>

            <p></p>
        </div>
    </div>
</div>